<section class="content">
  <div class="row">
    <div class="col-lg-4 col-xs-5">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>500</h3>
          <p>Data Tempat Kajian</p>
        </div>
        <div class="icon">
          <i class="fa fa-map-marker"></i>
        </div>
        <div class="small-box-footer">
          <%= link_to "More Info" %>
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-5">
      <div class="small-box bg-blue">
        <div class="inner">
          <h3><%= Mesjid.count %></h3>
          <p>Data Masjid</p>
        </div>
        <div class="icon">
          <i class="fa fa-location-arrow"></i>
        </div>
        <div class="small-box-footer">
          <%= link_to "More Info", backend_mesjids_path %>
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-5">
      <div class="small-box bg-red">
        <div class="inner">
          <h3>50.000</h3>
          <p>Data Info Ustadz</p>
        </div>
        <div class="icon">
          <i class="fa fa-street-view"></i>
        </div>
        <div class="small-box-footer">
          <%= link_to "More Info" %>
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-5">
      <div class="small-box bg-purple">
        <div class="inner">
          <h3><%= Province.count %></h3>
          <p>Data Provinsi</p>
        </div>
        <div class="icon">
          <i class="fa fa-map-pin"></i>
        </div>
        <div class="small-box-footer">
          <%= link_to "More Info" %>
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-5">
      <div class="small-box bg-orange">
        <div class="inner">
          <h3><%= User.count %></h3>
          <p>Data User</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-circle"></i>
        </div>
        <div class="small-box-footer">
          <%= link_to "More Info" %>
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-xs-5">
      <div class="small-box bg-yellow">
        <div class="inner">
          <h3>50000</h3>
          <p>Data Report</p>
        </div>
        <div class="icon">
          <i class="fa fa-bar-chart"></i>
        </div>
        <div class="small-box-footer">
          <%= link_to "More Info" %>
          <i class="fa fa-arrow-circle-right"></i>
        </div>
      </div>
    </div>
  </div>
</section>
