<body class="skin-blue">
  <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-lg"><b>Find</b>MOSQUE</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
          <li><%= link_to 'Home', viewalldata_path %></li>
          <%= render 'partial/dropdown' %>
          <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "Log In", new_user_session_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </header>

  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
</body>
