<div class="box box-danger">
  <div class="box-header">
    <h3 class="box-title">Data Table Ustadz</h3>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-sm-6">
        <%= link_to "Create", new_backend_ustad_path, class: 'btn btn-success fa fa-archive' %>
      </div>
      <div class="pull-right">
        <div class="example1_filter" class="dataTables_filter">
          <label>
            Search:
            <input class="form-control input-sm" placeholder="" aria-controls="example1" type="search">
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
        <thead>
          <tr role="row">
            <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 176.35px;"
            aria-sort="ascending" aria-label="Rendering: activate to sort column descending">
            Nama
          </th>
          <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 224.7px;"
          aria-label="Alamat: activate to sort column descending">
          Description
        </th>
        <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 191px;"
        aria-label="Kota: activate to sort column descending">
        Notes
      </th>
      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 151.45px;"
      aria-label="Provinsi: activate to sort column descending">
      Bidang
    </th>
    <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" style="width: 151.45px;"
    aria-label="Provinsi: activate to sort column descending">
    Pekerjaan
  </th>
  </tr>
</thead>
<tbody>
  <% @ustads.each do |ustad| %>
  <tr class="odd" role="row">
    <td class="sorting_1"><%= ustad.name %></td>
    <td><%= ustad.description %></td>
    <td><%= ustad.notes %></td>
    <td><%= ustad.bidang %></td>
    <td><%= ustad.pekerjaan %></td>
    <td>
      <%= link_to "View", backend_ustad_path(ustad), class: 'btn btn-info' %>
      <%= link_to "Edit", edit_backend_ustad_path(ustad), class: 'btn btn-success' %>
      <%= link_to "Delete", backend_ustad_path(ustad), method: :delete, data: {confirm: "Are You Sure Delete?"}, class: 'btn btn-danger'%>
    </td>
  </tr>
  <% end %>
</tbody>
<tfoot>
  <tr>
    <th rowspan="1" colspan="1">Nama</th>
    <th rowspan="1" colspan="1">Description</th>
    <th rowspan="1" colspan="1">Notes</th>
    <th rowspan="1" colspan="1">Bidang</th>
    <th rowspan="1" colspan="1">Pekerjaan</th>
  </tr>
</tfoot>
</table>
</div>
</div>

<div class="row">
  <%= paginate @ustads %>
</div>

</div>
</div>
</div>
