<div class="box box-danger">
  <div class="box-header with-borde">
    <%= simple_form_for @mesjid do |m| %>
      <%= m.input :name %>
      <%= m.input :description %>
      <%= m.input :jenis %>
      <%= m.input :address %>
      <%= m.input :kecamatan %>
      <%= m.input :kota %>
      <%= m.association :province %>

      <%= m.button :submit, class: 'btn btn-success btn-flat'%>
    <% end %>
  </div>
</div>
