<!DOCTYPE html>
<html>
<head>
  <title>FindMosque</title>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'findmosque/m.ico' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body class="skin-red sidebar-mini" style="height: auto; min-height: 100%;">

  <%= render 'partial/header'%>

  <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
  </div>

</body>
</html>
